<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
	{{- if .IsHome -}}
		{{ site.Title }}
	{{- else -}}
		{{ .Title }} · {{ site.Title }}
	{{- end -}}
</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}
{{ partial "head/math.html" . }}
